header {
  position: relative;
  .navbar {
    .navbar {
    background-color: #f8f9fa !important; // Añade esta línea
    position: relative;
    &-brand {
      .logo-navbar {
        width: 120px;
        height: 130px;
        margin-top: -30px;
        margin-bottom: -30px;
        object-fit: contain;
      }
    }

    &-toggler {
      border: 1px solid $primary-color; // Nuevo borde del toggler
      background: transparent;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem $primary-color; // Nuevo box-shadow
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28166, 233, 233, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }

    &-nav {
      .nav-item {
        .nav-link {
          color: $light-text; // Nuevo color del enlace
          font-weight: 800;
          font-size: 1.2rem;
          transition: color 0.2s;

          &:hover,
          &.active {
            color: $primary-color;
          }
        }

        &.dropdown {
          .dropdown-toggle {
            cursor: pointer;
          }

          .dropdown-menu {
            background-color: $card-background; // Nuevo color de fondo
            .dropdown-item {
              color: $light-text; // Nuevo color del texto
              &:hover {
                background: $primary-color;
                color: $dark-background;
              }
            }
          }
        }
      }
    }
  }

  .form-control {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    background-color: #333; // Nuevo color de fondo del input
    border: 1px solid #444;
    color: $light-text;
  }

  .btn-outline-success {
    background: $primary-color; // Nuevo color de fondo del botón
    color: $dark-background;
    border: 1px solid $primary-color;

    &:hover {
      background: $button-hover;
      color: $dark-background;
    }
  }
}
}